<header>
    <nav>
        <img
            alt="logo"
            src="/public/images/Beats_Blockchains.png"
            class="logo"
        />
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/market">Market</a></li>
            <li><a href="/wallet">Wallet</a></li>
            <li><a href="/users/logout">Log Out</a></li>
        </ul>
        <p id="corner-balance">Current Balance: {{balance}}</p>
    </nav>
</header>
<h1>What are you looking for today?</h1>
<div class="figures">
    <figure id="industriesFigure">
        <img src="/public/images/market/industries.png" alt = "Industries" id="market-industries-img"/>
        <figcaption><a href="/industries"><h1>Industries</h1></a> </figcaption>
    </figure>
    <figure id="musicfigure">
        <img src="/public/images/market/musicRightsPlaceholder.png" alt = "Music Rights" id="market-musicRights-img"/>
        <figcaption><a href="/songs"><h1>Music Rights</h1> </a></figcaption>
    </figure>
</div>